<%= form_for(@post) do |f| %>
    <%= render 'shared/errors', object: @post %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :tag_list, "Tags (separated by commas)" %>
      <%= f.text_field :tag_list, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.cktext_area :content, :ckeditor => { :uiColor => '#eeeeee', :toolbar => 'mini' } %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
      <%= link_to 'Back', posts_path %>
    </div>
<% end %>