<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Awesome Rails blog - By Tiago Sciencia">
  <meta name="author" content="Tiago Sciencia">

  <title ng-bind="title">Awesome Rails blog</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="header">
  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container clearfix">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Awesome Rails Blog</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="<%= posts_path %>">ADMIN</a></li>
          <li><a href="<%= aboutme_path %>">ABOUT ME</a></li>
          <li><a href="<%= contact_path %>">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="before-main-content"></div>

<!-- Main content -->
<div id="container">
  <!-- Flash messages -->
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>© Awesome Rails blog - 2015</p>
  </div>
</footer>

</body>
</html>
